[user]
    name = Hiroyuki Deguchi
    email = d@dlambda.org

[alias]
    b = branch
    ci = commit
    co = checkout
    df = diff
    st = status
    p = pull
    pu = push
    l = log

[ghq]
    root = ~/local/src

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignre_global