[user]
    name = Hiroyuki Deguchi
    email = deguchi.hiroyuki.db0@is.naist.jp

[alias]
    b = branch
    ci = commit
    co = checkout
    df = diff
    st = status
    pl = pull
    ps = push
    l = log
    f = fetch
	rso = reset --hard origin/master
	cfg = config

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore_global

[ghq]
	root = ~/src

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[init]
    defaultBranch = main
